<section class="bonus">
	<%- include('_section_header', {section_name: "红利",a_id:type,Ttitle:tiaokuan_title,content:tiaokuan_content,url:tiaokuan_left_click,need_tiaokuan:false}) %>
	<img src="/static/images/bonus.png" alt="">
</section>
