<section class="clearfix loan">
	<%- include('_section_header', {section_name: "保单贷款",a_id:type,Ttitle:tiaokuan_title,content:tiaokuan_content,url:tiaokuan_left_click,need_tiaokuan:true}) %>
	<img src="/static/images/loan.png" alt="">
</section>
