<div class="contact clearfix">
    <div class="left"><img src="<%=avatar%>" alt=""></div>
    <div class="middle">
        <dt><%=username%></dt>
        <!-- <dd><%=content%></dd> -->
        <dd>您的私人保险理财规划师</dd>
    </div>
    <div class="right">
        <a href="tel:<%=phonenumber%>" class="phone"><img src="/static/images/news_phone.png" alt=""></a>
    </div>
</div>